* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	font-family: Arial, Helvetica, sans-serif;
}

#ptable {
	border-spacing: 1px;
	table-layout: fixed;
}

#ptable tr:first-child td {
	text-align: center;
}

#ptable tr td:first-child {
	text-align: right;
}

#ptable td.element {
	text-align: center;
	cursor: pointer;
}

.element {
	padding: 0.25em;
}

.element.selected {
	outline: 2px solid gold;
}

.element span {
	display: block;
}

.element span.name,
.element span.symbol {
	text-transform: capitalize;
}

.element span.number {
	font-size: small;
}

.element span.symbol {
	font-size: x-large;
	font-weight: bold;
}

/* TEMPORARY!!! */
.element span.name {
	display: none;
}

.element .data {
	display: none;
}

#einfo table {
	border: 1px solid #444;
	border-spacing: 0px;
	border-collapse: collapse;
}

#einfo th {
	font-weight: bold;
	text-align: right;
}

#einfo tr.header-row {
	border-bottom: 1px solid #666;
}

#einfo tr.header-row th {
	text-align: initial;
	font-weight: bold;
}