* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	font-family: Arial, Helvetica, sans-serif;
}

#ptable {
	border-spacing: 1px;
	table-layout: fixed;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#ptable tr:first-child td {
	text-align: center;
}

#ptable tr td:first-child {
	text-align: right;
}

#ptable td.element {
	text-align: center;
	cursor: pointer;
	width: 60px;
	height: 75px;
}

.element {
	padding: 0.25em;
	overflow: hidden;
	-webkit-transition: background-color 0.2s ease-out, -webkit-transform 0.15s ease-out, -webkit-box-shadow 0.15s ease-out;
	transition: background-color 0.2s ease-out, transform 0.15s ease-out, box-shadow 0.15s ease-out;
}

#ptable .element.selected,
#ptable .element:hover.selected {
	-webkit-box-shadow: indianred 0px 0px 0px 4px inset;
	box-shadow: indianred 0px 0px 0px 4px inset;
}

.element span {
	display: block;
	white-space: nowrap;
}

.element span.name,
.element span.symbol {
	text-transform: capitalize;
}

.element span.number {
	font-size: 85%;
}

.element span.symbol {
	font-size: x-large;
	font-weight: bold;
}

.element span.name {
	display: none;
}

.element span.weight {
	font-size: 90%;
}

.element .data {
	display: none;
}

#einfo table {
	border: 1px solid #444;
	border-spacing: 0px;
	border-collapse: collapse;
}

#einfo table th {
	font-weight: bold;
	text-align: right;
}

#einfo table tr.header-row {
	border-bottom: 1px solid #666;
}

#einfo table tr:nth-child(even) {
	background-color: whitesmoke;
}
#einfo table tr:nth-child(even) td {
	-webkit-filter: brightness(0.92);
	filter: brightness(0.92);
}

#einfo table tr.header-row th {
	text-align: initial;
	font-weight: bold;
}